<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/flights/new">New Flight</a>
        &nbsp; | &nbsp;
        <a href="/flights">All Flights</a>
        </nav>
        <main>
    <h1><%= title %></h1>
    <p>Welcome To <%= title %></p>
        </main>
  </body>
</html>
